{
  "mysqlHost": "localhost",
  "mysqlUser": null,
  "mysqlDatabase": null,
  "mysqlPassword": null,
  "locale": "en",
  "discordWebhook": null,
  "telegramToken": null,
  "telegramChatId": null,
  "disableLogPersist": false,
  "interval": 60
}
